$primary-color: #3e3e3e;
$secondary-color: #fff;
$fontSize: 24px;

body {
  background-color: $primary-color;
}

.title {
  color: $secondary-color;
}

.fz {
  font-size: $fontSize;
}

.box3 {
  .title {
    font-size: 64px;
    color: rgb(99, 99, 236);
  }
}
